<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>FreeKashmir AP Computer Science A Hub</title>
    <link href="/fonts.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <script>
        console.log("test");
        var time = 0;
        setInterval(function () {
            document.documentElement.style.setProperty('--bgDeg', time + "deg");
            time = (time % 360) + 5;
        }, 50);
    </script>
</head>

<body>

<nav class="nav" th:fragment="nav">
    <div class="nav-item">
        <a href="/">Home</a>
    </div>
    <div class="nav-item">
        <a href="/how">Construction</a>
    </div>
    <div class="nav-item">
        <a href="/comments">Comments</a>
    </div>
<!--    <div class="nav-item">-->
<!--        <a href="http://frq.sylicia.com/" target="_blank">Mini-Labs</a>-->
<!--    </div>-->
    <div class="nav-item">
        <a href="/crossover">Crossover API Section</a>
    </div>
    <div class="nav-item">
        <a href="/minilabs">Mini-Labs</a>
    </div>

    <div class="nav-item__grow"></div>

    <div class="nav-item">
        <a href="/about">About</a>
    </div>
</nav>

</body>
</html>