<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unit 4 | Iteration</title>
</head>
<body>
    <h1>Unit 4 [Iteration]</h1>

    <h3>Comparing while loops to for loops</h3>
    <pre>
    <code>for(int i = 0; i < 10; i++){}</code>
    </pre>
    <p>Is the same as</p>
    <pre>
    <code>int i = 0</code>
    <code>while(i < 10){i++}</code>
    </pre>

    <h3>Foreach loops (Enhanced for loops)</h3>
    <p></p>
    <pre>
    <code>for(int i : arrayofnumbers){</code>
    <code>// i is set to a number in the array each time}</code>
    </pre>
</body>
</html>