<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unit 9 | Inheritance</title>
</head>
<head th:replace="fragments/fragments :: head"></head>

<body>
<div th:replace="fragments/fragments :: nav"></div>
<h1>Unit 9: Inheritance</h1>
<p>Inheritance is when there are two classes that share functionalities. Inheritance is used when you want to create a new class, but want to use pre-existing code from another class. In this way, you are able to use methods from the existing parent super class in the subclass that is created.</p>



<h2>Class Hierarchy</h2>
<p>Class Hierarchy is the relationship of inheritance between classes, also known as the inheritance tree. The highest level class is known as the super class, and it is important to note that this is the Object Class. The farther away you get from this super class, the more exclusive the class behavior and method calls become. </p>
<img src="/types_of_inheritance.jpg" style="width:50%;height:50%;">
<p>Here we can see a few different cases of how Inheritance can be used. In Single Inheritance, a single class with extend another class and gain access to the super class's methods. In Multi Level Inheritance, there is a grandchild Class C that extends Class B, which itself extends Class A. In Hierarchical Inheritance, two different classes can extend from one class, but cannot access each other's methods, only the methods from the class that they inherit. Finally, in Multiple Inheritance, a class can inherit methods from more than one parent class, as shown in the diagram where Class C inherits from Class A and Class B. </p>



<h2>Subclass and Superclass</h2>
<p>The <b>Subclass</b> is the class that extends another class, or inherits methods from another class. The <b>Superclass</b> is the class that is used by the subclass.
An important note is that the subclass with inherit everything from the superclass, including: classes, methods, and fields.</p>



<h2>Key Words to Know</h2>
<h3>Extends</h3>
<p>In order to show that a class is a subclass of another, we use the <code>extends</code> keyword.
    The following is an example of how this is used where <code>Output</code> is the subclass, and <code>ConsoleProgram</code> is the superclass.</p>
<pre>
    <code>public class Output extends ConsoleProgram</code>
    <code></code>
    <code>{</code>
    <code></code>
    <code>  // put logic code here</code>
    <code></code>
    <code>}</code>
</pre>

<h3>Super</h3>
<p>If we wanted to call the constructor in the superclass from the subclass, we can use the <code>super</code> keyword.
The following example shows how we can call the superclass constructor in the subclass <code>Rectangle</code>.</p>
<pre>
    <code>public class Square extends Rectangle</code>
    <code></code>
    <code>{</code>
    <code></code>
    <code>  public Square(int length)</code>
    <code>  </code>
    <code>  {</code>
    <code>      super(sideLen, sideLen);</code>
    <code>  </code>
    <code>  }</code>
    <code></code>
    <code>}</code>
</pre>



<h2>Subclass Functionality</h2>
<p>There are a great many things that can be done from the subclass, as it inherits the private and public variables and methods from the superclass.</p>
<ul>
    <li>Subclasses inherit all of the public and protected instance methods of the parent class.</li>
    <li>Subclasses inherit all of the public and protected instance and class variables.</li>
    <li>Subclasses can have their own instance variables.</li>
    <li>Subclasses can have their own static and instance methods.</li>
    <li>Subclasses can override the parent class's methods.</li>
    <li>Subclasses can contain constructors that directly invoke the parent class's constructor using the <code>super</code> keyword.</li>
</ul>



<h2> Example Repl.it</h2>
<iframe frameborder="0" width="100%" height="500px" src="https://replit.com/@EyaadMir/AP-CSA-Unit-9?lite=true"></iframe>



<h2> Additional Resources</h2>
<a href="https://www.geeksforgeeks.org/inheritance-in-java/" target="_blank">The Geeks for Geeks Page for Inheritance</a>
<br>
<br>
<a href="https://www.w3schools.com/java/java_inheritance.asp" target="_blank">The W3Schools Page for Inheritance</a>
<br>
<br>
<a href="https://www.youtube.com/watch?v=JB5JcbwVlt0" target="_blank">In Depth Youtube Video on Inheritance</a>


</body>
</html>
