<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<body>
<div th:replace="fragments/fragments :: nav"></div>

<h1>Comments</h1>

<div th:each="comment: ${comments}" class="thread">
    <p th:text="${comment.body}" style="text-align: left"></p>
    <small class="author">By: <i th:text="${comment.name}"></i></small>
    <div th:each="reply: ${comment.replies}" class="reply">
        <p th:text="${reply.body}" class="reply__text"></p>
        <small class="author">By: <i th:text="${reply.name}"></i></small>
    </div>

    <hr />

    <div>
        <form method="post" action="/api/replies" class="reply-form">
            <legend>Reply...</legend>
            <input type="t" th:name="name" placeholder="name" required>
            <textarea th:name="body" placeholder="text" required></textarea>
            <input type="hidden" th:value="${comment.id}" th:name="comment"/>
            <input type="submit">
        </form>
    </div>
</div>


<form action="#" th:action="@{/comments}" th:object="${comment}" method="POST" style="margin-left: 100px; margin-right: 100px">
    <p>Add a comment!</p>
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:name="name" field="name" /></td>
            <!--<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>-->
       </tr>
       <tr>
           <td>Comment body:</td>
           <td><input type="text" th:name="body" field="body" /></td>
           <!--<td th:if="${#fields.hasErrors('body')}" th:errors="*{body}">Text error</td>-->
        </tr>
    </table>
    <button type="submit" class="centered" style="width: 50px">Add</button>
</form>


</body>

<style>

    .thread{
        width: 400px;
        border: 2px solid black;
        margin: 20px;
        padding: 20px;
    }

    .reply{
        margin-left: 100px;
    }

    .author{
        width: 100%;
        text-align: right;
    }
</style>

<script>
    $('.reply-form').submit(function(e){
        e.preventDefault();
        console.log( $( this ).serialize());
        $.ajax({
            url: '/api/replies',
            type: 'post',
            data: $( this ).serialize(),
            success:function(){
                console.log("DONE!")
                location.reload();
            }
        });
    });
</script>
</html>