<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/fragments :: head"></head>

    <body>

        <div class="main">

            <div th:replace="fragments/fragments :: nav"></div>

            <div class="title">
                <h1>AP Unit Review</h1>
            </div>

            <div class="units">
                <h3>
                    <a href="/misc">Miscellaneous</a>
                </h3>
                <h3>
                    <a href="/4">Unit 4 [Iteration]</a>
                </h3>
                <h3>
                    <a href="/5">Unit 5 [Classes]</a>
                </h3>
                <h3>
                    <a href="/6">Unit 6 [Arrays]</a>
                </h3>
                <h3>Unit 7 [ArrayLists]</h3>
                <h3>Unit 8 [2D Arrays]</h3>
                <h3>Unit 9 [Inheritance]</h3>
                <h3>Unit 10 [Recursion]</h3>
            </div>



        </div>

    </body>
</html>