<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>

<body>
  <div th:replace="fragments/fragments :: nav"></div>

  <div class="title">
    <h1>FreeKashmir Mini-Lab Collection</h1>
  </div>


  <div class="intro">
    <br>
    <h3>Meet the team:</h3>
    <br>
    <p>Nathaniel C ~ <a href="/nathan">Project homepage</a> </p>
    <br>
    <p>Anthony V ~ <a href="/anthony">Project homepage</a></p>
    <br>
    <p>Eyaad M ~ <a href="/eyaad">Project homepage</a> </p>
    <br>
    <p>Dhruv K ~ <a href="/dhruv">Project homepage</a></p>
    <br>
    <p>Tanay Shah ~ <a href="/tanay">Project homepage</a> </p>
    <br>
  </div>

</body>
</html>