<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Miscellaneous</title>
</head>
<body>
    <h1>Miscellaneous Things to know</h1>

    <h3>Math.random</h3>
    <!-- embed the picture from the study guide or once css is done create little embed with examples -->
    <p><b>.random</b> is a method from the java.lang.Math class which lets users generate random numbers of type <b>double</b>, by default [0,1). This alone is not very useful however through manipulation we can generate more meaningful numbers.</p>

    <h3>Obscure Object Creation</h3>
    <h3>Printing Anomalies</h3>
    <h3>Order of Operations</h3>
    <h3>DeMorgan’s Law</h3>
    <h3>Truth Tables</h3>
    <h3>Searches and Sorts</h3>

</body>
</html>